<div class="row">
	<div class="col-xs-12 col-md-6">
		<!--
		<div class="box box-primary box-solid">
			<div class="box-header with-border">
			  <h3 class="box-title">Outstanding Pembayaran SMPIT</h3>

			  <div class="box-tools pull-right">
			    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			    </button>
			  </div>
			</div>
			<div class="box-body">
			  <div class="chart">
			    <canvas 
			    	class="chart chart-bar"
			    	chart-dataset="datasets"
    				>
   				</canvas> 
			  </div>
			</div>
		</div>
		-->
		<div class="box box-primary box-solid">
			<div class="box-header">
			  	<h3 class="box-title">Outstanding Pembayaran SMPIT</h3>
			  	<div class="box-tools pull-right">
				    <button type="button" class="btn btn-box-tool" data-widget="collapse">
				    	<i class="fa fa-minus"></i>
				    </button>
				</div>
			</div>
			<div class="box-body no-padding">
				<table class="table table-condensed">
					<tbody>
						<tr>
							<th style="width: 10px">#</th>
							<th>Kelas</th>
							<th>Oustanding</th>
							<th>Jumlah</th>
						</tr>
						<tr>
							<td>1.</td>
							<td>Kelas - 7</td>
							<td>
								<div class="progress progress-xs">
								  	<div class="progress-bar progress-bar-danger" style="width: 90%"></div>
								</div>
							</td>
							<td><span class="badge bg-red">15.000.000</span></td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Kelas - 8</td>
							<td>
								<div class="progress progress-xs">
								  	<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
								</div>
							</td>
							<td><span class="badge bg-yellow">9.500.000</span></td>
						</tr>
						<tr>
							<td>3.</td>
							<td>Kelas - 9</td>
							<td>
								<div class="progress progress-xs progress-striped active">
								  	<div class="progress-bar progress-bar-success" style="width: 30%"></div>
								</div>
							</td>
							<td><span class="badge bg-green">5.000.000</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-6">
		<!--
		<div class="box box-danger box-solid">
			<div class="box-header with-border">
				<h3 class="box-title">Outstanding Pembayaran SDIT</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<div class="chart"></div>
			</div>
		</div>
		-->
		<div class="box box-danger box-solid">
			<div class="box-header">
			  	<h3 class="box-title">Outstanding Pembayaran SDIT</h3>
			  	<div class="box-tools pull-right">
				    <button type="button" class="btn btn-box-tool" data-widget="collapse">
				    	<i class="fa fa-minus"></i>
				    </button>
				</div>
			</div>
			<div class="box-body no-padding">
				<table class="table table-condensed">
					<tbody>
						<tr>
							<th style="width: 10px">#</th>
							<th>Kelas</th>
							<th>Oustanding</th>
							<th>Jumlah</th>
						</tr>
						<tr>
							<td>1.</td>
							<td>Kelas - 1</td>
							<td>
								<div class="progress progress-xs">
								  	<div class="progress-bar progress-bar-danger" style="width: 90%"></div>
								</div>
							</td>
							<td><span class="badge bg-red">15.000.000</span></td>
						</tr>
						<tr>
							<td>2.</td>
							<td>Kelas - 2</td>
							<td>
								<div class="progress progress-xs">
								  	<div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
								</div>
							</td>
							<td><span class="badge bg-yellow">9.500.000</span></td>
						</tr>
						<tr>
							<td>3.</td>
							<td>Kelas - 3</td>
							<td>
								<div class="progress progress-xs progress-striped active">
								  	<div class="progress-bar progress-bar-success" style="width: 30%"></div>
								</div>
							</td>
							<td><span class="badge bg-green">5.000.000</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>