<div id="kwitansi-pembayaran-form" class="box box-no-margin box-primary box-solid">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-filter"></i> Form Filter</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		</button>
		</div>
	</div>
	<div class="box-body">
		<form class="form-horizontal form-custome">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">Kelas</label>
						<div class="col-xs-8 col-md-9">
							<button type="button" 
								class="btn btn-defaultv btn-flat" 
								ng-model="filter.kelas" 
								data-multiple="1" 
								data-animation="am-flip-x" 
								bs-options="kls.id as (kls.kelas + ' - ' + kls.nama_kelas) for kls in kelas" 
								bs-select
								placeholder="Pilih kelas"
								all-text="All"
								all-none-buttons=true
							>
  								Action <span class="caret"></span>
  							</button>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">Dari Tgl</label>
						<div class="col-xs-8 col-md-9">
							<input type="text" class="form-control input-sm" 
								ng-model="filter.date_start" 
								name="date_start" 
								data-max-date="{{filter.date_end}}"
								bs-datepicker />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">S/D Tgl</label>
						<div class="col-xs-8 col-md-9">
							<input type="text" class="form-control input-sm" 
								ng-model="filter.date_end" 
								name="date_end" 
								data-min-date="{{filter.date_start}}"
								bs-datepicker />
						</div>
					</div>
					<!-- <div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">Bulan</label>
						<div class="col-xs-8 col-md-9">
							<div class="input-group">
								<select 
									name="filter_bln" 
									class="form-control" 
									ng-model="filter.month"
									ng-change="onBulanChange($event)"
								>
									<option ng-repeat="bln in month track by bln.id" value="{{bln.id}}">
									{{bln.name}}
									</option>
								</select>
								<input type="hidden" name="year" ng-model="filter.year">
								<div class="input-group-addon">{{filter.year}}</div>
							</div>
						</div>
					</div> -->
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">Jenis Pembayaran</label>
						<div class="col-xs-8 col-md-9">
							<select name="reff" class="form-control" 
								ng-model="filter.reff"
							>
								<option value="">-All-</option>
								<option value="01">KAS</option>
								<option value="03">BANK (AUTODEBET)</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="box-footer">
		<div class="box-tools pull-right">
			<a href="" ng-click="onResetClick($event)" class="btn btn-danger btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Reset Data">
				<i class="fa fa-refresh"></i> Reset
			</a>
			<a href="" ng-click="onSearchClick($event)" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Cari Data">
				<i class="fa fa-search"></i> Cari data
			</a>
		</div>
	</div>
</div>