<div id="kwitansi-pembayaran-grid" class="box box-no-margin box-primary box-solid">
	<div class="box-footer with-border">
		<div class="box-tools-left">
			<div class="btn-group">
			  <button type="button" class="btn bg-gray btn-sm btn-flat">Export</button>
			  <button type="button" class="btn bg-gray btn-sm btn-flat dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			    <span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a ng-click="onExport('pdf')"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
			    <li>
			    	<a ng-click="onExport('xlsx')"
			    		id="downloader" 
			    		download="tagihan_pembayaran.xlsx">
			    			<i class="fa fa-file-excel-o"></i> Excel
			    	</a>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-th-list"></i> Rekap Pembayaran Tagihan</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		</button>
		</div>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12">
				<div id="grid1" ui-grid="grid" 
					ui-grid-resize-columns 
		            ui-grid-selection 
		            ui-grid-cellNav
		            ui-grid-grouping
		            class="grid">
		        </div>
			</div>
		</div>
	</div>
</div>