<div id="tagihan-autodebet-form" class="box box-no-margin box-primary box-solid">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-plus-circle"></i> Form</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		</button>
		</div>
	</div>
	<div class="box-body">
		<form class="form-horizontal form-custome">
			<div class="row">
				<div class="col-md-6">
					<div class="no-kwitansi">
						<div class="form-group">
							<label class="col-sm-4 control-label">File</label>
							<div class="col-sm-8">
								<object id="file-object" name="file_import"></object>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Bulan</label>
							<div class="col-sm-8">
								<div class="input-group">
									<select 
										name="bulan" 
										class="form-control" 
										ng-model="form.bulan"
										ng-change="onBulanChange()"
									>
										<option ng-repeat="blnP in month track by blnP.id" value="{{blnP.id}}">
										{{blnP.name}}
										</option>
									</select>
									<div class="input-group-addon">
										<input type="hidden" name="tahun" ng-model="form.tahun" />
										{{form.tahun}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-md-offset-2">
					<div class="no-kwitansi">
						<div class="form-group">
							<label class="col-sm-4 control-label">No Transaksi</label>
							<div class="col-sm-8">
								<input type="text" class="form-control input-sm" readonly="true" 
									ng-model="form.no_transaksi" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Tanggal</label>
							<div class="col-sm-8">
								<input type="text" class="form-control input-sm" 
									ng-model="form.tgl_transaksi" name="date" bs-datepicker />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="col-xs-4 col-md-4 control-label">Keterangan</label>
						<div class="col-xs-8 col-md-8">
							<textarea class="form-control input-sm" ng-model="form.keterangan"></textarea>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="box-footer">
		<div class="box-tools pull-left">
			<a href="#keuangan/rekonsiliasi-autodebet/add" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Tambah Kwitansi Pembayaran">
				<i class="fa fa-plus-circle"></i> Tambah Data
			</a>
			<a href="#keuangan/rekonsiliasi-autodebet" class="btn btn-default btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Rekap Data">
				<i class="fa fa-th-list"></i> Rekap Data
			</a>
		</div>
		<div class="box-tools pull-right">
			<a href="" ng-click="onResetClick($event)" class="btn btn-danger btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Reset Data">
				<i class="fa fa-refresh"></i> Batal
			</a>
			<a href="" ng-click="onSaveClick($event)" class="btn btn-success btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Simpan Data">
				<i class="fa fa-save"></i> Simpan
			</a>
		</div>
	</div>
	<div class="box-footer">
		<div class="row">
			<div class="col-xs-12 col-md-12" style="margin-top : 20px">
                <div id="grid2" ui-grid="gridDetail" 
					ui-grid-resize-columns
		            ui-grid-selection
		            ui-grid-grouping
		            ui-grid-cellNav
		            class="gridDetail">
		        </div>
            </div>
		</div>
	</div>
</div>