<div class="box box-no-margin box-primary box-solid">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-th-list"></i> Pindah Kelas</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		</button>
		</div>
	</div>
	<div class="box-body">
		<div class="row">
	    	<form class="form-horizontal form-custome">
	      		<div class="col-xs-12 col-md-12">
	      			<div class="form-group">
                  		<label for="nama_siswa" class="col-sm-3 control-label">Nama Siswa</label>
                 		<div class="col-xs-12 col-md-9">
	                    	<input type="text" class="form-control" name="nama_kelas" readonly="" 
	                    		ng-model="formEdit.nama_siswa" placeholder="Nama Siswa">
	                 	</div>
                	</div>
	      			<div class="form-group">
                  		<label for="kelas" class="col-sm-3 control-label">Kelas</label>
                  		<div class="col-xs-12 col-md-4">
                  			<input type="hidden" class="form-control" name="id" ng-model="formEdit.id">
                  			<select 
                  				name="kelas" 
                  				class="form-control" 
                  				ng-model="formEdit.kelasid"
                  			>
								<option ng-repeat="row in kelas" value="{{row.id}}" 
									ng-selected="row.id == formEdit.kelasid">
								{{row.kelas}} - {{row.nama_kelas}}
								</option>
							</select>
                  		</div>
                	</div>
                	
	      	    </div>
	    	</form><!--endform -->
	  	</div><!-- /.row -->
	</div>
	<div class="box-footer">
		<div class="box-tools pull-right">
			<a href="" ng-click="onCancelEditClick()" class="btn btn-danger btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Close Dialog">
				<i class="fa fa-refresh"></i> Batal
			</a>
			<a href="" ng-click="onSaveEditClick()" class="btn btn-success btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Simpan Data">
				<i class="fa fa-save"></i> Simpan
			</a>
		</div>
	</div>
</div>


