<div class="box box-no-margin box-primary box-solid">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-th-list"></i> Grid Siswa</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		</button>
		</div>
	</div>
	<div class="box-footer with-border">
		<div class="box-tools-left">
			<a href="#master/rombel/kelola" class="btn btn-primary btn-sm btn-flat">
				<i class="fa fa-cogs"></i> Kelola Rombongan Belajar
			</a>
<!-- 			<a href="#/logs/kwitansipembayaran" class="btn bg-gray btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Log Data">
				<i class="fa fa-history"></i> Log
			</a> -->
		</div>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12">
				<div id="grid2" ui-grid="gridSiswa" 
					ui-grid-resize-columns 
		            ui-grid-selection 
		            ui-grid-cellNav
		            class="gridSiswa">
		        </div>
			</div>
		</div>
	</div>
</div>