<div class="row">
    <div class="con-xs-12 col-md-12 no-print pull-right">
        <a href="" class="btn btn-default btn-sm btn-flat" ng-click="print('print-kwitansi-pembayaran')" >
            <i class="fa fa-print"></i> Cetak
        </a>
    </div>
</div>
<div id="print-kwitansi-pembayaran" >
    <link rel="stylesheet" type="text/css" href="css/print-style-2.css" />
    <div class="printStyle-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title" style="text-align : center;">
                                <!-- <img src="http://nextstepwebs.com/images/logo.png" style="width:100%; max-width:300px;"> -->
                                <h1>BUKTI PENERIMAAN</h1>
                            </td>
                        </tr>
                        <tr class="information">
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <td> </td>
                                        <td>Nomor : {{rowHeader.no_kwitansi}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <hr/>
                </td>
            </tr>
        </table>
        <br/>

        <table>
            <tr class="item">
                <td style="width : 150px">Terima dari</td><td style="width : 10px">:</td><td>{{rowHeader.nama_pembayar}}</td>
            </tr>
        </table>
        <br/>
        <table>
            <tr class="heading">
                <td>Untuk Pembayaran dengan perincian sebagai berikut :</td>
            </tr>
        </table>
        <br/>
        <table>
            <tr class="item" ng-repeat="row in rowDetail track by row.id">
                <td style="width : 150px">{{row.rincian}}</td>
                <td style="width : 10px">:</td>
                <td style="text-align : right;">{{row.jumlah | number:0}}</td>
            </tr>
            <tr class="total">
                <td><b>Total</b></td><td>:</td><td style="text-align : right;"><b>{{rowPrintTotal() | number:0}}</b></td>
            </tr>
            <tr class="total">
                <td><b>Terbilang</b></td><td>:</td><td style="text-align : left;"><b>{{rowTerbilang}}</b></td>
            </tr>
        </table>
        <br>
        <table>
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                Depok, {{month.options[monthPrint].name}} {{monthYear}}<br>
                                <br>
                                <br/>
                                <br>
                                <br/>
                                <span class="profil-name">{{profil.fullname}}</span><br/>
                                -----------------------------<br/>
                                <span class="profil-jabatan">{{profil.jabatan ? profil.jabatan : 'Adm. Keuangan'}}</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="note">
            <i>Note :</i><br/>
            <span><strong>AUTODEBET DILAKUKAN TGL 1 dan 8 {{month.options[month.selected].name}} {{month.year}}</strong></span>
            <ol>
                <li>Saldo Minimum setelah pendebetan di Rek. BSM Rp. 20.000,-</li>
                <li>Jika ingin ikut catering atau off mohon konfirmasi diakhir bulan</li>
                <li><b>Outstanding Catering lebih darai 2 bulan, akan di Off-kan sampai melakukan pembayaran</b></li>
                <li>Mohon maaf jika ada kekeliruan pada informasi ini</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="con-xs-12 col-md-12 no-print pull-right">
        <a href="" class="btn btn-default btn-sm btn-flat" ng-click="print('print-kwitansi-pembayaran')" >
            <i class="fa fa-print"></i> Cetak
        </a>
    </div>
</div>

