
<div class="box box-no-margin box-primary box-solid">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-cogs"></i> Kelola Info Tagihan</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		</button>
		</div>
	</div>
	<div class="box-footer">
		<div class="row">
			<div class="col-lg-2">
				<div class="form-group">
					<label>Kelas</label>
					<input type="hidden" name="kelasid" class="form-control" ng-model="kelas.options[0].id" />
					<input type="hidden" name="kelasid" class="form-control" 
						ng-model="kelas.options[0].nama_kelas" />
					<input type="text" name="nama_kelas" class="form-control" 
						value="{{kelas.options[0].kelas}} - {{kelas.options[0].nama_kelas}}" />
				</div>
			</div>
			<div class="col-lg-2">
				<div class="form-group">
					<label>Jenis Tagihan</label>
					<select name="jenis_tagihan" class="form-control" 
						ng-model="jenis_tagihan"
						ng-change="onJenisTagihanChange(jenis_tagihan)">
						<option value="1">Bulanan</option>
						<option value="2">Tahunan</option>
					</select>
				</div>
			</div>
			<div class="col-lg-5" ng-show="jenis_tagihan == 1">
				<div class="form-group">
					<label>Periode</label>
					<div class="input-group">
						<select 
							name="month_start" 
							class="form-control" 
							ng-model="month_start.selected"
							ng-change="onMonthChange(month_start.selected)">
							<option ng-repeat="bs in month_start.options" value="{{bs.id}}">
							{{bs.name}}
							</option>
						</select>
						<div class="input-group-addon">
							<input type="hidden" name="year_start" ng-model="month_start.year" />
							{{month_start.year}}
						</div>
						<div class="input-group-addon">s/d</div>
						<select name="month_end" 
							class="form-control"
							ng-change="onMonthChange(month_start.selected)"
							ng-model="month_end.selected">
							<option ng-repeat="be in month_end.options" value="{{be.id}}" >
							{{be.name}}
							</option>
						</select>
						<div class="input-group-addon">
							<input type="hidden" name="year_end" ng-model="month_end.year" />
							{{month_end.year}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5" ng-show="jenis_tagihan == 2">
				<div class="form-group">
					<label>Tahun Ajaran</label>
					<!-- <select name="tahun_ajaran_id" class="form-control" 
						ng-model="tahun_ajaran_id"
						readonly="true"
						ng-change="onJenisTagihanChange(jenisTagihan)">
						<option ng-repeat="ta in tahun_ajaran_list" value="{{ta.id}}" >
							{{ta.tahun_ajaran}}
						</option>
					</select> -->
					<input type="hidden" class="form-control" name="tahun_ajaran_id" 
						ng-model="tahun_ajaran_name" readonly />
					<input type="text" class="form-control" name="tahun_ajaran_name" 
						ng-model="tahun_ajaran_name" readonly />
				</div>
			</div>
			<div class="col-lg-3">
				<label>&nbsp;</label>
				<div class="form-group">
					<a class="btn btn-sm btn-primary btn-flat pull-right" 
							href="" ng-click="onAddMultipleClick($event)">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12">
				<div id="grid1" ui-grid="gridEdit" 
					ui-grid-resize-columns 
		            ui-grid-selection 
		            ui-grid-edit
		            ui-grid-cellNav
		            class="grid">
		        </div>
			</div>
		</div>
	</div>
	<div class="box-footer">
		<div class="box-tools pull-right">
			<a href="" ng-click="onResetClick($event)" class="btn btn-danger btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Reset Data">
				<i class="fa fa-refresh"></i> Batal
			</a>
			<a href="" ng-click="onSaveClick($event)" class="btn btn-success btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Simpan Data">
				<i class="fa fa-save"></i> Simpan
			</a>
		</div>
	</div>
</div>