<div class="box box-no-margin box-primary box-solid">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-th-list"></i> Grid</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		</button>
		</div>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12">
				<div id="grid1" ui-grid="grid" 
					ui-grid-resize-columns 
		            ui-grid-selection 
		            ui-grid-cellNav
		            class="grid">
		        </div>
			</div>
		</div>
	</div>
</div>