<div id="container-login">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>AL HARAKI</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Silahkan masuk untuk memulai sesi anda</p>
            <form name="loginForm" id="login-form" novalidate>
                <input type="hidden" name="_csrf-client" value="T0tMdkhEaGchE3sSOgo3ESknPhQNIw4LFxgtNTkPXy4jM3UmCRBcNg==">
                <div class="form-group has-feedback field-loginform-username required">
                    <input type="text" id="loginform-username" class="form-control" name="username" 
                        placeholder="NIP / Username" ng-model="username" required>
                    <span class='glyphicon glyphicon-envelope form-control-feedback'></span>
                    <span class="errorMessage" ng-show="loginForm.username.$touched && loginForm.username.$invalid">
                        NIP / Username tidak boleh kosong
                    </span>
                </div>
                <div class="form-group has-feedback field-loginform-password required">
                    <input type="password" name="password" class="form-control"
                               ng-model="password"
                               ng-minlength="6"
                               required />
                    <span class='glyphicon glyphicon-lock form-control-feedback'></span>
                    <span class="errorMessage" ng-show="loginForm.password.$touched && loginForm.password.$invalid">
                            Kata sandi tidak boleh kosong
                    </span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group field-loginform-rememberme">
                            <div class="checkbox">
                                <label class="control-label" for="loginform-rememberme">
                                    <!-- <input type="hidden" name="rememberMe" value="0"> -->
                                    <input type="checkbox" id="loginform-rememberme" name="rememberMe" value="1" checked>
                                    Ingat saya untuk sesi selanjutnya
                                </label>
                                <p class="help-block help-block-error"></p>
                            </div>
                        </div>            
                    </div>
                        <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat"
                                ng-click="login()"
                                ng-disabled="loginForm.$invalid || !loginForm.$dirty">
                            Login
                        </button>  
                    </div>
                <!-- /.col -->
                </div>
            </form>
            <a href="#">Lupa Password</a><br>
        </div>
    <!-- /.login-box-body -->
    </div><!-- /.login-box -->
</div>
