<style type="text/css">
    .print-kwitansi-bayar hr {
        margin-top: 0;
        margin-bottom: 0;
        border: 0;
        border-top: 1.5px solid #000;
    }
    .printStyle-box .note {
        font-size: 8pt;
    }
    .print-kwitansi-bayar{
        padding: 0 !important;
    }
    /*@page {
        size: 21cm 14.8cm;
        margin: 0.5cm;
    }*/
    @media print {
        body{
            /*font-family: "Sans Serif", "Times New Roman", Georgia, Serif;*/
            font-family: Serif;
            letter-spacing: 0.1cm;
            font-size:6pt !important;
            /*line-height:9pt !important;*/
        }
        @page {
            size: auto;
            margin: 0.05cm;
        }
        .print-kwitansi-bayar{
            float: left;
            width: 20.5cm;
            margin:10px !important;
            font-size:9pt;
        }
        .print-kwitansi-bayar table td {
            padding: 0 2px 0 2px !important;
            font-size: 6pt !important;
        }
        td.address{
            padding-top: 20px;
        }
        td.address > p{
            margin : 0;
            line-height: 8pt;
        }
        .logo > img {
            width: 40px !important;
            margin: 2px;
        }
        .title h2{
            font-size : 14pt;
            line-height: 12pt;
        }
        #footer {
           clear: both;
           position: relative;
           /*page-break-after: auto;*/
        }
    }
</style>
<div class="box box-no-margin box-default box-solid print-container">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-print"></i> Print Area</h3>
        <div class="box-tools pull-right">
            <a href="" class="btn btn-primary btn-sm btn-flat btn-tool" ng-click="print('print-kwitansi-pengeluaran')" >
                <i class="fa fa-print"></i> Cetak
            </a>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div id="print-kwitansi-pengeluaran" >
            <div class="printStyle-box print-kwitansi-bayar">
                <table cellpadding="0" cellspacing="0">
                    <tr class="top">
                        <td colspan="2">
                            <table>
                                <tr style="border-bottom : 2px solid #000000;">
                                    <td class="logo" style="width: 52px;"><img src="img/logo_50x60.jpg"></td>
                                    <td class="address" style="text-align : left;width: 300px">
                                        <p style="margin-top: 5px; !important"><strong>{{sekolahProfil.nama_sekolah}}</strong></p>
                                        <p>{{sekolahProfil.alamat}}</p>
                                    </td>
                                    <td class="title" style="text-align : center;">
                                        <!-- <img src="http://nextstepwebs.com/images/logo.png" style="width:100%; max-width:300px;"> -->
                                        <h1 style="font-size: 14pt;
                                                    margin: 0;
                                                    line-height: 20pt;
                                                    text-align: right;
                                                    font-weight: bold;">BUKTI PENGELUARAN</h1>
                                    </td>
                                </tr>
                                <tr class="information">
                                    <td colspan="3">
                                        <table>
                                            <tr>
                                                <td> </td>
                                                <td>Nomor : {{rowHeader.no_kwitansi}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr class="item">
                        <td style="width : 150px">Terima dari</td><td style="width : 10px">:</td><td>{{rowHeader.nama_penerima}}</td>
                    </tr>
                </table>
                <table>
                    <tr class="heading">
                        <td>Untuk pengeluaran dengan perincian sebagai berikut :</td>
                    </tr>
                </table>
                <div class="rows" style="height: 125px;">
                    <table >
                        <tr class="item" ng-repeat="row in rowDetail track by row.id">
                            <td style="width : 150px">{{row.rincian}}</td>
                            <td style="width : 10px">:</td>
                            <td style="text-align : right;">{{row.jumlah | number:0}}</td>
                        </tr>
                        <tr class="total">
                            <td><b>Total</b></td><td>:</td><td style="text-align : right;"><b>{{rowPrintTotal() | number:0}}</b></td>
                        </tr>
                        <tr class="total">
                            <td><b>Terbilang</b></td><td>:</td><td style="text-align : left;"><b>{{rowTerbilang}}</b></td>
                        </tr>
                    </table>
                </div>
                <table>
                    <tr class="information">
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td style="width : 65%;font-size : 10pt;">
                                        <p style="height: 1.5cm !important;border : solid 1px #eee;padding: 2pt;" ng-bind-html="rowHeader.keterangan"></p>
                                    </td>
                                    <td>
                                        Depok, {{tanggal}}<br>
                                        <br>
                                        <span class="profil-name" style="margin: 0 !important">{{profil.fullname}}</span><br/>
                                        <span style="margin: 0 !important">----------------------</span><br/>
                                        <span class="profil-jabatan" style="margin: 0 !important">{{titleadmin}}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="note"></div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="box-tools pull-right">
            <a href="" class="btn btn-primary btn-sm btn-flat" ng-click="print('print-kwitansi-pengeluaran')" >
                <i class="fa fa-print"></i> Cetak
            </a>
        </div>
    </div>
</div>