<div class="box box-no-margin box-primary box-solid">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-th-list"></i> Grid</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		</button>
		</div>
	</div>
	<div class="box-body">
		<div class="row">
			
			<form class="form-horizontal form-custome">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="col-sm-4 control-label">File</label>
						<div class="col-sm-8">
							<object id="file-object" name="file_import"></object>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="row">
			
			<div class="col-xs-12">
				<div id="grid1" ui-grid="grid" 
					ui-grid-resize-columns 
		            ui-grid-selection 
		            ui-grid-cellNav
		            ui-grid-pagination
		            class="grid">
		        </div>
			</div>
		</div>
	</div>
</div>