<div class="box box-no-margin box-primary box-solid">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-th-list"></i> Grid</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		</button>
		</div>
	</div>
	<div class="box-body">
		<div class="row">
			<div class="col-xs-12 col-md-12" style="margin-top : 20px">
				<form class="form-horizontal form-custome">
				<fieldset>
                	<div class="form-group">
	                	<div class="col-xs-4 col-md-3">
	                		<a href="" ng-click="onAddClick($event)" class="btn bg-blue btn-sm btn-flat" >
								<i class="fa fa-plus-circle"></i>
							</a>
	                	</div>
                	</div>
                	<div id="grid2" ui-grid="gridDetail" 
						ui-grid-resize-columns
			            ui-grid-selection
			            ui-grid-edit
			            ui-grid-cellNav
			            class="gridDetail">
			        </div>
                </fieldset>
                </form>
			</div>
		</div>
	</div>
</div>