<div id="coa-form" class="box box-no-margin box-primary box-solid">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-plus-circle"></i> Form Jurnal Harian</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
		</button>
		</div>
	</div>
	<div class="box-body">
		<form class="form-horizontal form-custome">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">No Akun</label>
						<div class="col-xs-8 col-md-9">
							<input type="hidden" class="form-control" name="mcoadnoold" 
			                    		ng-model="form.mcoadnoold" placeholder="No Akun">
							<input type="text" class="form-control" name="mcoadno" 
			                    		ng-model="form.mcoadno" placeholder="No Akun">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">Nama Akun</label>
						<div class="col-xs-8 col-md-9">
							<input type="text" class="form-control" name="mcoadname" 
			                    		ng-model="form.mcoadname" placeholder="Nama Akun">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">Master Akun</label>
						<div class="col-xs-8 col-md-9">
							<select 
                  				name="mcoahno" 
                  				class="form-control" 
                  				ng-model="form.mcoahno"
                  			>
								<option ng-repeat="item in mcoah.data track by item.mcoahno" value="{{item.mcoahno}}">
								{{item.mcoahno}} - {{item.mcoahname}}
								</option>
							</select>
						</div>
					</div>
					<!-- <div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">Aktif</label>
						<div class="col-xs-8 col-md-9">
							<input type="checkbox" ng-model="form.active" checked="checked"
           						ng-true-value="'1'" ng-false-value="'0'">
						</div>
					</div> -->
				</div>
			</div>
		</form>
	</div>
	<div class="box-footer">
		<div class="box-tools pull-left">
			<a href="#akuntansi/coa/add" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Tambah">
				<i class="fa fa-plus-circle"></i> Tambah Data
			</a>
			<a href="#akuntansi/coa" class="btn btn-default btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Rekap Data">
				<i class="fa fa-th-list"></i> Rekap Data
			</a>
		</div>
		<div class="box-tools pull-right">
			<a href="" ng-click="onResetClick($event)" class="btn btn-danger btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Reset Data">
				<i class="fa fa-refresh"></i> Batal
			</a>
			<a href="" ng-click="onSaveClick($event)" class="btn btn-success btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Simpan Data">
				<i class="fa fa-save"></i> Simpan
			</a>
		</div>
	</div>
</div>