<section class="content-header">
  <h1>
        Master Akun (Chart of Acount)
        <small>Akuntansi</small>
    </h1>
  <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li >Akuntansi</li>
        <li class="active">Master Akun (Chart of Acount)</a></li>
  </ol>
</section>
<!-- Main content -->
<section class="content" > 
  <div class="row">
    <div class="col-xs-12">
      <!-- <div ng-include src=" viewdir + 'form.html'"></div> -->
      <div ng-include src=" viewdir + 'grid.html'"></div>
    </div>
  </div>
  <!-- /.row -->
</section>
