<!-- firms -->
<section class="content-header">
      <h1>
        Form Pegawai
      	<small>Profile Karyaawan</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="http://localhost:8012/al-haraki/client/web/#/master/siswa">Pegawai</a></li>
        <li class="active">Form Pegawai</li>
      </ol>
</section>
<section class="content">
	<div class="row">
    	<form class="form-horizontal">
		    <div class="col-md-3">
		        <!-- Profile Image -->
		        <div class="box box-primary">
		          <div class="box-body box-profile">
		            <img class="profile-user-img img-responsive img-circle" src="../../asset/img/user-profile.jpg" alt="User profile picture">

		            <h3 class="profile-username text-center">Nina Mcintire Nina Mcintire Nina Mcintire</h3>

		            <p class="text-muted text-center">Sekolah Al-amak</p>
		      		<br/>
		            <a href="#" class="btn btn-primary btn-block"><b>Photo</b></a>
		          </div> <!-- /.box-body -->
		        </div><!-- /.box -->
		    </div><!-- /.col -->
      		<div class="col-md-9">
      			<div class="box box-success ">
	              	<div class="box-header">
	                	<h3 class="box-title"></h3>
	              	</div>
	              	<div class="box-body">
	                	<div class="form-group">
	                  		<label for="nis" class="col-sm-2 control-label">NIK</label>
		                  	<div class="col-sm-8">
		                   		 <input type="text" class="form-control" id="nis" name="nis" placeholder="NIS">
		                  	</div>
		                </div>
	                	<div class="form-group">
	                  		<label for="nisn" class="col-sm-2 control-label">NUPTK</label>
	                 		<div class="col-sm-8">
		                    	<input type="text" class="form-control" id="nisn" name="nisn" placeholder="NISN">
		                 	</div>
	                	</div>
	               		<div class="form-group">
	                  		<label for="namaSiswa" class="col-sm-2 control-label">Nama Pegawai</label>
	                 	 	<div class="col-sm-8">
	                    		<input type="text" class="form-control" id="namaSiswa" name="nama_siswa" placeholder="Nama Siswa">
	                  		</div>
	                	</div>
	                	<div class="form-group">
	                  		<label for="sekolahid" class="col-sm-2 control-label">Sekolah</label>
	                  		<div class="col-sm-8">
	                    		<select class="form-control select2" style="width: 100%;" name="sekolahid" data-placeholder="Pendidikan Ibu">
				                    <option>S1</option>
				                    <option>S2</option>
				                    <option>D3</option>
				                    <option>D2</option>
				                    <option>D1</option>
				                    <option>SMA</option>
				                    <option>SMP</option>
			                    </select>
	                  		</div>
	                	</div>
	          			<br>
	          			<div class="form-group">
				            <div class="col-sm-10">
				                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
				                <button type="submit" class="btn btn-danger"><i class="fa fa-close"></i> Batal</button>
				            </div>
	          			</div>
      				</div><!-- /box-body -->
      			</div>
      	    </div>
    	</form><!--endform -->
  	</div><!-- /.row -->
</section>