#container-login {
    /*background: radial-gradient(blue 15%, transparent 16%) 0 0,
    radial-gradient(blue 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px !important;
    background-color: #EEE !important;
    background-size: 16px 16px !important;*/
}

.skin-blue .content-header {
    background: #FFFFFF;
}
.content-header {
    padding: 10px;
}
.content-header>h1 {
    font-size: 16px;
}
.content-header>.breadcrumb {
    top: 0;
}

.box.box-no-margin {
    margin-bottom: 0 !important;
    border-radius: 0;
}
.box-footer {
    padding: 10px;
}
.form-group {
    margin-bottom: 2px;
}

/*
 * override the default CSS as an example
 */
#loading-bar {
    z-index: 99999;
}
#loading-bar .bar {
  	background: #F39C12;
}
#loading-bar-spinner {
	margin : auto;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #F39C12;
  border-left-color: #F39C12;
}
#loading-bar .peg {
  -moz-box-shadow: #F39C12 1px 0 6px 1px;
  -ms-box-shadow: #F39C12 1px 0 6px 1px;
  -webkit-box-shadow: #F39C12 1px 0 6px 10px;
  box-shadow: #F39C12 1px 0 6px 1px;
}

#container-login{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #D2D6DE;
  top : 0;
  left : 0;
  z-index: 9999;
}
@media (min-width: 768px){
  .form-horizontal.form-custome .control-label {
      padding-top: 7px;
      margin-bottom: 0;
      text-align: left;
  }
}

.ui-grid-viewport.ng-isolate-scope{
  background-color: #EEE;
}

.errorMessage{
  color: red;
}

.grid-align-right{
  text-align: right;
}
.grid-align-left{
  text-align: left;
}
.grid-align-center{
  text-align: center;
}

input[type=checkbox].custome1 + .lbl, 
input[type=radio].custome1 + .lbl {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 18px;
    min-width: 18px;
    font-weight: normal;
    cursor: pointer;
}

.ngdialog.ngdialog-theme-flat.custom-width-800 .ngdialog-content {
    width: 800px;
}
.ngdialog.ngdialog-theme-flat.custom-width-900 .ngdialog-content {
    width: 900px;
}

.ngdialog.ngdialog-theme-flat.custom-width-100 .ngdialog-content {
    width: 100%;
}
.ngdialog.ngdialog-theme-flat.custom-width-100 .ngdialog-content {
    width: 100%;
}

.ngdialog.ngdialog-theme-flat.custom-width-80 .ngdialog-content {
    width: 80%;
}
.ngdialog.ngdialog-theme-flat.custom-width-75 .ngdialog-content {
    width: 75%;
}
.ngdialog.ngdialog-theme-flat.custom-width-50 .ngdialog-content {
    width: 50%;
}
.ngdialog.ngdialog-theme-flat.custom-width-50 .ngdialog-content {
    width: 50%;
}
.ngdialog.ngdialog-theme-flat.custom-width-kwitansi .ngdialog-content {
    width: 21cm;
    height: 14.8cm;
}

.navbar-brand select{
    margin-top: -8px;
    padding-left: 0;
}

.dialog-black .ngdialog-content{
    background: #222D32 !important;
}
.dialog-gray .ngdialog-content{
    background: gray !important;
}
.dialog-custom1 .ngdialog-content{
    /*position: absolute !important;
    top : 0;*/
    margin-top : -100px !important;
}

.print-container .box-header .btn-tool{
    color: #FFFFFF !important;
}

.ui-grid-cell-contents a.column-link{
  color: #555;
}

.ui-grid-cell-contents a.column-link:hover{
  color: #3c8dbc;
  text-decoration: underline;
}

.ui-grid-row .invalid {
  background-color: #f7c3c3 !important;
}