<div id="rgl-form" class="box box-no-margin box-primary box-solid collapsed-box">
	<div class="box-header with-border">
		<h3 class="box-title"><i class="fa fa-filter"></i> Form Filter</h3>
		<div class="box-tools pull-right">
		<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
		</button>
		</div>
	</div>
	<div class="box-body">
		<form class="form-horizontal form-custome">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">Dari Tgl</label>
						<div class="col-xs-8 col-md-9">
							<input type="text" class="form-control input-sm" 
								ng-model="filter.date_start" 
								name="date_start" 
								data-max-date="{{filter.date_end}}"
								bs-datepicker />
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-4 col-md-3 control-label">S/D Tgl</label>
						<div class="col-xs-8 col-md-9">
							<input type="text" class="form-control input-sm" 
								ng-model="filter.date_end" 
								name="date_end" 
								data-min-date="{{filter.date_start}}"
								bs-datepicker />
						</div>
					</div>
					<div class="form-group" ng-hide="!isDetail">
						<label class="col-xs-4 col-md-3 control-label">No Akun</label>
						<div class="col-xs-8 col-md-9">
							<select 
                  				name="mcoahno" 
                  				class="form-control" 
                  				ng-model="filter.mcoadno"
                  			>
                  				<option value="">All</option>
								<option ng-repeat="item in mcoad.data track by item.mcoadno" value="{{item.mcoadno}}">
								{{item.mcoadno}} - {{item.mcoadname}}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="box-footer">
		<div class="box-tools pull-right">
			<!-- <a href="" ng-click="onResetClick($event)" class="btn btn-danger btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Reset Data">
				<i class="fa fa-refresh"></i> Reset
			</a> -->
			<a href="" ng-click="onSearchClick($event)" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip"
				data-original-title="Cari Data">
				<i class="fa fa-search"></i> Cari data
			</a>
		</div>
	</div>
</div>