<section class="content-header">
	<h1>
		Profile Pengguna
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Profil</li>
	</ol>
</section>
<section class="content">
	<div class="row">
    	<form class="form-horizontal form-custome">
			<div class="col-md-3">
				<div class="box box-primary box-no-margin">
					<div class="box-body box-profile">
						<img class="profile-user-img img-responsive img-circle" 
							src="img/profil/user-default.jpg" alt="User profile picture">

						<h3 class="profile-username text-center">{{form.user.nama_pegawai}}</h3>
						<p class="text-muted text-center">{{form.pegawai.jabatan}}</p>
						<br/>
						<a class="btn btn-default btn-block btn-flat"><b>Photo</b></a>
					</div>
				</div>
			</div>
      		<div class="col-md-9">
      			<div id="user-form" class="box box-no-margin box-primary box-solid">
				    <div class="box-header with-border">
				        <h3 class="box-title"><i class="fa fa-user"></i> Biodata</h3>
				        <div class="box-tools pull-right">
				            <button type="button" class="btn btn-box-tool" data-widget="collapse">
				                <i class="fa fa-minus"></i>
				            </button>
				        </div>
				    </div>
				    <div class="box-body">
			            <div class="row">
			                <div class="col-xs-12 col-md-12">
			                    <div class="form-group" has-feedback field-formUser-username>
		                            <label class="col-xs-4 col-md-3 control-label">NIK</label>
		                            <div class="col-xs-8 col-md-9">
		                            	<input type="hidden" name="pegawai_id" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.pegawai.id"/>
		                                <input type="text" name="nik" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.pegawai.nik"/>
		                            </div>
		                        </div>
		                        <div class="form-group" has-feedback field-formUser-username>
		                            <label class="col-xs-4 col-md-3 control-label">NUPTK</label>
		                            <div class="col-xs-8 col-md-9">
		                                <input type="text" name="nuptk" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.pegawai.nuptk"/>
		                            </div>
		                        </div>
		                        <div class="form-group" has-feedback field-formUser-username>
		                            <label class="col-xs-4 col-md-3 control-label">Nama Lengkap</label>
		                            <div class="col-xs-8 col-md-9">
		                                <input type="text" name="nama_pegawai" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.pegawai.nama_pegawai"/>
		                            </div>
		                        </div>
		                        <div class="form-group" has-feedback field-formUser-username>
		                            <label class="col-xs-4 col-md-3 control-label">Nama Panggilan</label>
		                            <div class="col-xs-8 col-md-9">
		                                <input type="text" name="nama_panggilan" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.pegawai.nama_panggilan"/>
		                            </div>
		                        </div>
			                </div>
			            </div>
				    </div>
				    <div class="box-footer">
				        <div class="box-tools pull-right">
				            <a href="" ng-click="onSavePegawaiClick($event)" 
				                class="btn btn-success btn-sm btn-flat" 
				                data-toggle="tooltip"
				                data-original-title="Simpan Data"
				                >
				                <i class="fa fa-save"></i> Simpan
				            </a>
				        </div>
				    </div>
				</div>
				<div id="user-form" class="box box-no-margin box-primary box-solid">
				    <div class="box-header with-border">
				        <h3 class="box-title"><i class="fa fa-user"></i> Informasi Pengguna</h3>
				        <div class="box-tools pull-right">
				            <button type="button" class="btn btn-box-tool" data-widget="collapse">
				                <i class="fa fa-minus"></i>
				            </button>
				        </div>
				    </div>
				    <div class="box-body">
				        <div class="row">
			                <div class="col-xs-12 col-md-12">
			                    
		                        <div class="form-group" has-feedback field-formUser-username>
		                            <label class="col-xs-4 col-md-3 control-label">Grup Akses</label>
		                            <div class="col-xs-8 col-md-9">
		                                <input type="text" name="role_desc" readonly="" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.user.role_desc"/>
		                            </div>
		                        </div>
		                        <div class="form-group" has-feedback field-formUser-username>
		                            <label class="col-xs-4 col-md-3 control-label">Akses Sekolah</label>
		                            <div class="col-xs-8 col-md-9">
		                                <input type="text" name="sekolah" readonly="" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.user.sekolah"/>
		                            </div>
		                        </div>
		                        <div class="form-group" has-feedback field-formUser-username>
		                            <label class="col-xs-4 col-md-3 control-label">Nama Pengguna</label>
		                            <div class="col-xs-8 col-md-9">
		                                <input type="hidden" name="userid" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.user.id"/>
		                                <input type="text" name="username" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.user.username"/>
		                            </div>
		                        </div>
		                        <div class="form-group" has-feedback field-formUser-username>
		                            <label class="col-xs-4 col-md-3 control-label">Email Pengguna</label>
		                            <div class="col-xs-8 col-md-9">
		                                <input type="hidden" name="userid" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.user.id"/>
		                                <input type="text" name="email" 
		                                	class="form-control input-sm" 
		                                    ng-model="form.user.email"/>
		                            </div>
		                        </div>
		                        <button 
		                        	ng-hide="isChangedPassword" 
		                        	ng-click="isChangedPassword = true"
		                        	class="btn btn-sm">
		                        	<i class="fa fa-lock"></i> Ubah Password
		                        </button>
		                        <fieldset ng-hide="!isChangedPassword">
		                        	<legend>Ubah Password</legend>
		                        	<div class="form-group" has-feedback field-formUser-username >
			                            <label class="col-xs-4 col-md-3 control-label">Kata Sandi Lama</label>
			                            <div class="col-xs-8 col-md-9">
			                                <input type="password" name="password" 
			                                	class="form-control input-sm" 
			                                    ng-model="form.user.password" />
			                            </div>
			                        </div>
		                        	<div class="form-group" has-feedback field-formUser-username>
			                            <label class="col-xs-4 col-md-3 control-label">Kata Sandi Baru</label>
			                            <div class="col-xs-8 col-md-9">
			                                <input type="password" name="password_new1" 
			                                	class="form-control input-sm" 
			                                    ng-model="form.user.password_new1" />
			                            </div>
			                        </div>
		                        </fieldset>
		                        
			                </div>
			            </div>
				    </div>
				    <div class="box-footer">
				        <div class="box-tools pull-right">
				            <a href="" ng-click="onSaveUserClick($event)" 
				                class="btn btn-success btn-sm btn-flat" 
				                data-toggle="tooltip"
				                data-original-title="Simpan Data"
				                >
				                <i class="fa fa-save"></i> Simpan
				            </a>
				        </div>
				    </div>
				</div>

      	    </div>
    	</form>
  	</div>
</section>